DEBUG = True
TEMPLATE_DEBUG = DEBUG

# The access tokens for the tweeting account
TWITTER_ACCESS_TOKEN = '...'
TWITTER_ACCESS_TOKEN_SECRET = '...'

# The consuper tokens for the application
TWITTER_CONSUMER_KEY = '...'
TWITTER_CONSUMER_SECRET = '...'
