DEBUG = True
TEMPLATE_DEBUG = DEBUG

# The access tokens for the tweeting account
TWITTER_ACCESS_TOKEN = '35782202-ql9LjEK1yr2O5HMffJMLmbMpXhiTpbRlOyMvAr1ws'
TWITTER_ACCESS_TOKEN_SECRET = 'jYAiNvuzx8jt4uvDJtsJeBn2UkZ5GEtdVj5RDOYfYLQ'

# The consuper tokens for the application
TWITTER_CONSUMER_KEY = 'WLITgN4rHAOknrNBwFbzdw'
TWITTER_CONSUMER_SECRET = 'GeLe4JODaEx7AIcEYfJ3C5o4xDJUjBQA7OZiIf5fE'
